@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");

/* Color e Imagenes de fondo */
body {
  margin: 0;
  background-color: rgba(96, 183, 167, 255);
  font-family: "Nunito", sans-serif;
  display: flex;
}

#contenedor-imagenes {
  height: 100%;
}
#fondo-parte1 {
  height: 100%;
  position: absolute;
  z-index: 1;
  left: 5px;
}
#fondo-parte2 {
  height: 100%;
  position: absolute;
  z-index: 1;
  right: 20px;
}

/* Contenedor del video y formulario */
/*Video*/
#turtle {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
/* Formulario */
h2 {
  margin-top: 60px;
  margin-bottom: 30px;
}

#contenedor-formulario {
  width: 780px;
  height: 580px;
  background-color: rgba(50, 66, 91, 255);
  color: white;
  text-align: center;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  display: flex;
  top: 2%;
  right: 2%;
  bottom: 6%;
  left: 1%;
  margin: auto;
  position: absolute;
  z-index: 10;
}

#caja-formulario {
  padding-left: 3px;
}

p {
  font-size: 14px;
  margin: 10px 40px 15px 40px;
  width: 300px;
}

label {
  display: block;
  color: whitesmoke;
  text-align: left;
  padding-top: 5px;
  padding-left: 40px;
}

input {
  width: 75%;
  border: none;
  border-bottom: 1px solid white;
  background: none;
  margin: 5px 0 15px 5px;
  outline: none;
  font-size: 16px;
  color: white;
}

input:focus {
  border-bottom: 1px solid rgba(42, 227, 193, 255);
}

#texto-contraseña {
  text-align: right;
  display: block;
  margin-right: 40px;
  font-size: 14px;
}

a {
  color: rgba(249, 128, 57, 255);
  font-weight: 300;
}

button {
  border: none;
  border-radius: 10px;
  width: 77%;
  height: 50px;
  margin: 25px 0 20px 0;
  background-color: rgba(42, 227, 193, 255);
  font-size: 18px;
  color: white;
}
button:hover {
  background-color: rgb(47, 255, 213);
  cursor: pointer;
}

#separador {
  color: rgb(192, 192, 192);
}

.iconos {
  margin: auto;
  width: 40px;
  height: 40px;
  margin: 0px 5px;
  border-radius: 50%;
}
.iconos:hover {
  background-color: white;
  box-sizing: border-box;
  padding: 1px;
  border-radius: 50%;
  cursor: pointer;
}
