@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");

/* Colores e Imagenes de fondo */
body {
  margin: 0;
  background-color: rgba(96, 183, 167, 255);
  font-family: "Nunito", sans-serif;
  display: flex;
}

#contenedor-imagenes {
  height: 100%;
}
#fondo-parte1 {
  height: 100%;
  position: absolute;
  z-index: 1;
  left: 5px;
}
#fondo-parte2 {
  height: 100%;
  position: absolute;
  z-index: 1;
  right: 20px;
}

/* Contenedor del video y formulario */
#turtle {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

h2 {
  margin: 40px 0 10px 0;
}

#contenedor-formulario {
  width: 780px;
  height: 580px;
  background-color: rgba(50, 66, 91, 255);
  color: white;
  text-align: center;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  display: flex;
  top: 2%;
  right: 2%;
  bottom: 6%;
  left: 1%;
  margin: auto;
  position: absolute;
  z-index: 10;
}

label {
  display: block;
  color: whitesmoke;
  text-align: left;
  padding-left: 40px;
}

input {
  width: 75%;
  border: none;
  border-bottom: 1px solid white;
  background: none;
  margin: 5px 0 15px 5px;
  outline: none;
  font-size: 16px;
  color: white;
}

input:focus {
  border-bottom: 1px solid rgba(42, 227, 193, 255);
}

a {
  color: rgba(249, 128, 57, 255);
  font-weight: 300;
}
p {
  font-size: 14px;
  margin: 0 40px 0 40px;
  width: 300px;
}

button {
  border: none;
  border-radius: 10px;
  width: 77%;
  height: 50px;
  margin: 15px 0;
  background-color: rgba(42, 227, 193, 255);
  font-size: 18px;
  color: white;
}
button:hover {
  background-color: rgb(47, 255, 213);
  cursor: pointer;
}
